@import "../base/_variables.scss";




.credentials {
    background: $primary-color-dark;
    position: fixed;
    width: 100%;
    height: 100%;

    p {
        text-align: center;
    }

    .credentials_btn {
        margin: 0 auto;
        margin-bottom: 3em;
    }

    .credentials_btn button {
        color: #555;
        padding: 7px;
        border-radius: 4px;
        border: 1px solid #efe8ed;
        margin-left: 30px;
        width: 90px;
        outline: none;
        cursor: pointer;
    }

    .credentials_btn .active {
        background: $primary-color-dark;
        color: #fff;
    }

    .btn {
        background: $secondary-text-color;
    }

    

    section {
        // display: block;
        margin: 100px auto;
        padding: 20px;
        max-width:360px;
        border-radius: 4px;
        position: relative;
        border: 1px solid #e1d9d9;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #fff;
        box-shadow: 5px 5px 35px $primary-text-color;


        .ui.form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            animation: form 500ms ease-in-out forwards;


            div {
                width: 100%;
            }

            button{
                margin-bottom: .9em;
            }
        }
    }


    @keyframes form {
        0% {
            transform: scale(0)
        }
        100% {
            transform: scale(1)
        }
    }

}
