.dashboard{

    .events,
    .resources,
    .tips {
        width: 100%;
        margin-bottom: 90px;
    }

        
        .events > div:first-child,
        .resources > div:first-child,
        .tips:first-child {
            width: 500px;
            padding: 15px;
        } // Top 5 events secion

        .events{
            // border:1px solid orange;
            text-align: center;
            padding: 30px;
        }
        .top_event {
            & > div {
                width: 320px;
                background: #fff;
                margin: 20px;
                padding: 10px;
                border: 1px solid #efe8ed;
                border-radius: 4px;
                cursor: pointer;
                animation: fadein 500ms ease-in-out;
                img {
                    width: 100%;
                }
            }
        } // Resources layout of the page
        .resources {
            // border: 4px solid blue;
            text-align: center;
            padding: 30px;
            background: #6F9FD8;

            p{
                color:#fff;
            }
            
            
            .interview_tip {
                display: flex;
                justify-content: space-between;

                p{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    text-align: center;
                    background: rgba(3, 0, 0, 0.45);
                    padding: 10px;
                    color: #fff;
                    font-size: 16px;
                    letter-spacing: 5px;
                }

                div{
                    position: relative;
                    width: 50%;
                    margin:10px;
                    background: #fff;
                    height: 350px;
                    border: 1px solid #efe8ed;
                    background-image: url("http://via.placeholder.com/350x150");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 100%;
                }
            }
        } // Tips about interview section
        .tips {
            // border: 5px solid purple;
            text-align: center;
            padding: 20px;


            .top_tip {
                display: flex;
                justify-content: center;

                p{
                    position: absolute;
                    bottom:0;
                    text-align: center;
                    background: rgba(3, 0, 0, 0.45);
                    padding: 10px;
                    color: #fff;
                    font-size: 16px;
                    letter-spacing: 5px;
                    width: 100%;
                }

                div {
                    position: relative;
                    width: 23%;
                    height: 150px;
                    border: 1px solid #efe8ed;
                    background: #fff;
                    margin: 20px;
                    background-size: cover;
                    background-position: 100%;
                    background-image: url("http://via.placeholder.com/350x150");
                    background-repeat: no-repeat;
                }
            }
        }

}


@media (max-width:414px) {
    .main-events {
        .events>div:first-child,
        .resources>div:first-child,
        .tips:first-child {
            width: 90%;
            margin:0;
        }


        .resources{
            .interview_tip{
                & div:first-child, div:last-child{
                    width:95%;
                }
            }
        }

        .tips {
            .top_tip {
                div {
                    width: 95%;
                }
            }
        }
        
    }
}